<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="header.css">
    <title>Recherche</title>
  </head>
  <body>
    <div id="header">
      <img src="soochy120px.png" alt="logo Soochy">
    </div>
    <div class="sidebar">
      <ul class="sidebar-panel-nav">
        <li><a href="home.html">Accueil</a></li>
        <li><a href="research.html">Recherche</a></li>
        <li><a href="playlist.html">Playlist</a></li>
        <li><a href="test.html">Test</a></li>
      </ul>
    </div>
    <div class="research">
      <input type="text" name="pseudo" />
    </div>
  </body>
</html>
